*{
    font-family: 'Poppins', sans-serif;
}

.img-size{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.icon-size{
    font-size: 48px;
    color: #fb700b
}

.star-icon{
    color: #fec512;
}

.title{
    margin-top: 120px;
}

.container div{
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendar-icon{
    color: #fb700b;
    font-size: 225px;
}

.hotel_room{
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

.btn-booking{
    padding: 10px;
    background-color: #fb700b;
    color: white;
}