*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: url(../images/signup_background.jpeg);
    background-size: cover;
}

.logo{
    margin: 0 auto;
}

.title{
    color: #f3fae8;
}

.signup-box{
    background-color: #182d40;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 5px 10px 18px black;
    min-height: 475px;
    max-height: 600px;
    color: white;
    padding: 25px;
    margin-bottom: 50px;
}

.signup-header{
    background-color: #f3fae8;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    box-shadow: 5px 10px 18px black;
}

.btn-home{
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    color: #182d40;
    border: solid #182d40;
    border-radius: 10px;
    background: none;
    transition-duration: 0.4s;
}

.btn-home:hover{
    background-color: #182d40;
    color: white;
}

.btn-signup{
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    background-color: #f3fae8;
}
